@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Lato', sans-serif !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Lato', sans-serif !important
}

/* custom clases */
.red-color {
   color: #ff3500
}

.blue-color {
   color: #18507f
}


body {
   font-family: 'Lato', sans-serif;
   font-size: 16px
}

section.main {
   background: url('/harpreplace/images/download.jpg');
   background-clip: border-box;
   background-size: cover;
   background-repeat: round;
   width: 100%;
   height: 100%;
}

header div img {
   width: 360px
}

.header {
   background: #fff;
   padding: 12px 15px;
}

ul {
   list-style: none;
}

footer {
   background: #000;
   padding: 30px
}

.footer {
   display: flex;
   color: rgb(255, 255, 255);
   font-size: 12px
}

.footer-link li {
   text-decoration: underline;
   cursor: pointer;
}

.color-footer {
   color: rgb(95, 92, 92);
}

div.body {
   background: #0009;
   padding: 2rem
}

.body div.child {
   width: 500%
}

.body .child:first-child {
   background: #eee;
   padding: 70px;
}

.body .child:nth-child(2) {
   /* box-shadow: 1px 2px 3px #ccc; */
   background: #fff9;
   padding: 70px;
}

label {
   display: block
}

.error {
   color: #ff3500;
   background: #eee;
}

p.form-control:hover {
   border: 1px solid #18507f;
   cursor: pointer;
}

p.form-control {
   padding: 25px 20px
}

.form-control span {
   font-size: 22px !important
}

input[type=radio] {
   height: 16px;
   width: 16px;
   border-radius: 20px !important;
   margin-right: 10px;
   background: #F7F7F7;
   border: #A4A4A4 solid 1px;
   -webkit-appearance: none;
   -moz-appearance: none;
   outline: none;
   transition: all 0.4s ease-in-out;
}

input[type="radio"]:hover,
input[type="radio"]:hover {
   border-color: #18507f;
}

input[type="radio"]:checked {
   background: white;
   background: url("../images/check-box.png");
   background-size: cover;
   border-color: #18507f;
   outline: none;
   border: none
}

input[type="radio"]:checked+span {
   color: #18507f;
}


.mslider {
   -webkit-appearance: none;
   width: 100%;
   height: 15px;
   border-radius: 5px;
   background: #fff;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
}

.mslider:hover {
   opacity: 1;
}

.mslider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: #18507f;
   cursor: pointer;
}

input[type=range]::-moz-range-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: #18507f;
   cursor: pointer;
}

.mslider::-moz-range-thumb {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: #4CAF50;
   cursor: pointer;
}

.btn-blue {
   padding: 10px 15px;
   color: #eee;
   background: #18507f;
}

.container-sp {
   max-width: 1440px;
   margin: auto;
   padding-left: 15px;
   padding-right: 15px;
}



#modal {
   width: 100%;
   height: 100%;
   /* display: none; */
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   z-index: 1
}

#modal-container {
   max-width: 900px;
   margin: 40px auto;
   padding: 80px 20px;
   background-color: rgba(255, 255, 255, 0.95);
   box-shadow: 0 0 10px;
   border-radius: 1px;
   overflow: auto;
   height: 1000px;
}

#modal-content {
   text-align: left !important;
   margin: auto 10%
}


@media(max-width:991px) {
   .child {
      padding: 40px !important;
   }

   .notice_text {
      line-height: 2.8 !important
   }
}


@media(max-width:900px) {
   .child {
      padding: 20px !important;
   }

   .notice_text {
      line-height: 2.4 !important
   }
}

@media(max-width:500px) {
   .header img {
      width: 270px
   }

   .header {
      text-align: center
   }

   .notice_text {
      line-height: 2.4 !important;
      font-size: 20px !important;
   }
}